/* app css stylesheet */

header {
	width: 100%;
	height: 280px;
	text-align:center;
}

main {
	width: 100%;
	text-align:center;
	margin: 5px 0px;
}

footer {
	width: 100%;
	height: 40px;
	text-align:center;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

h3 {
  color: grey;
}

.red-text {
    color: red;
}