<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
		<div class="page-header">
			<div class="panel">
				<h1>{{movie.title}}</h1>
				<h3>{{movie.year}} {{movie.mpaa_rating}}</h3>
			</div>
			<p>{{movie.critics_consensus}}</p>
            <ul class="unstyled">
            	<li ng-repeat="cast in movie.abridged_cast">{{cast.name}} - {{cast.characters[0]}}</li>
            </ul>
		</div>      
    </div>
    <div class="span8">
      	<img ng-src="{{movie.posters.original}}">
    </div>
  </div>
</div>

<!-- <p>The id of the movie is: {{movie}}</p> -->