

<div class="row-fluid">
	<div class="span12">

	  <p ng-model="movie_results">
	    {{movie_results}}
	  </p>
	  
	  <!--Body content-->
	  <ul class="panel">
	    <li ng-repeat="movie in moviesList | filter:query" class="thumbnail">
	      <a href="#/movie/{{movie.id}}">{{movie.title}} ({{movie.year}})</a>
	      <a href="#/video/{{movie.id}}" class="red-text">[Watch Trailer]</a>
	    </li>
	  </ul>

	</div>
</div>
