<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
		<div class="page-header">
			<div class="panel">
				<h1>{{movie.title}}</h1>
				<h3>{{movie.year}} {{movie.mpaa_rating}}</h3>
			</div>
            <ul class="unstyled">
            	<li ng-repeat="clip in clipList">
                	<ul class="unstyled">
                		<li>{{clip.title}}:</li>
	                	<li>
                        	<a href="{{clip.links.alternate}}" target="_blank" alternate="{{clip.title}}">
                        		<img ng-src="{{clip.thumbnail}}" width="240" height="180" />
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
		</div>      
    </div>
  </div>
</div>

<!-- <p>The id of the movie is: {{movie}}</p> -->