<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Film Store</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css"/>
  <link href="img/favicon.ico" rel="icon" type="image/x-icon">
</head>
<body ng-controller="movieFinderCtrl">
	<header>
        <div class="hero-unit">
            <h1>Movie Finder
            <p>
                using <a href="https://twitter.com/@angularjs">AngularJS</a> and
                <a href="https://twitter.com/twbootstrap">TwitterBootstrap</a>
            </p>
            </h1>
            <form>
                <fieldset>
                    <input type="input" ng-model="moviename" placeholder="Enter movie name..."/>
                    <p>
                        <button class="btn" ng-click="onSearchClicked(moviename)"> Search </button>
                    </p>
                	<input type="text" ng-model="query" placeholder="Enter sub-search filter..."/>
                </fieldset>
            </form>
		</div>
    </header>
    
    <main ng-view></main>
    
    <footer>2013</footer>
    
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
